body {
	text-align: center;
	background-image: url("../public/img/Avalokiteshvara1000.jpg");
}

body > div.container {
	text-align: center;
	
	height:300px;
	width: 270px;
	margin-top: 100px;
	padding-top: 60px;
	padding-left: 60px;
	border-radius: 100px
}

div button {
	padding-right: 10px;
	margin: 4px;
	color: #3C1518;
	width: 20px;
	height: 30px;
	
}

section{
	text-align: center;
}

div > button {
	
	
}



